<%= simple_form_for @band, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>

  <%= f.input :price %>

  <%= f.file_field :image %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bands_path, :class => 'btn' %>
  </div>
<% end %>
